@page "/"

    <div class="page-header">

        <h1>Welcome to the MOT history website!</h1>
        <br />
        <h3>
            <small>Using this application you can look up MOT details :)</small>
        </h3>

    </div>

  

    
